# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\islai\intelliJ-workspace\Servidor\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
